<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="weather">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <p>{{weather.city.name}} | {{currentDate}}</p>
        <div class="temperature">
          {{weather.currentTemp}}<sup><small>ºC</small></sup>
        </div>
        <div class="condition">
          <img src="{{getImageUrl(weather.details[0].condition)}}" alt="" />
          <h3>{{weather.details[0].condition}}</h3>
          <p>
            <ion-icon name="cloud-download-outline"></ion-icon
            >{{weather.details[0].pop}}% |
            <ion-icon name="cloud-download-outline"></ion-icon>
            {{weather.details[0].humidity}}%
          </p>
        </div>
        <ion-button color="success" (click)="onSeeDetails()"
          >Ver Detalhes</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
