ion-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
}

ion-searchbar {
  --box-shadow: none;
  border-bottom: solid 1px var(--ion-color-light);
  flex: 1.5;
}

h6 {
  text-align: center;
}

.button {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5vh;
}

.flexBoxSearch {
  display: flex;
}
